.parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width:768px) {
    .parent {
        flex-wrap: wrap;
        align-items: normal;
    }

    .parent div {
        flex-basis: calc((100% - 40px)/2);

    }

    .parent div ul {
        overflow-y: scroll;
        max-height: 270px;
    }

}

@media screen and (min-width:1180px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        flex-wrap: nowrap;
    }

    .first-list {
        grid-area: 1 / 1 / 3 / 2;
    }

    .second-list {
        grid-area: 1 / 2 / 2 / 3;
    }

    .third-list {
        grid-area: 2 / 2 / 3 / 3;
    }

    .fourth-list {
        grid-area: 3 / 1 / 4 / 2;
    }

    .fifth-list {
        grid-area: 3 / 2 / 4 / 3;
    }
}