.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 12px 0;
    flex-direction: column-reverse;
}


.header-title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
}

.decorative-list {
    margin: 0;
    border: 1px solid #848484;
    border-radius: 5px;
    padding: 12px 12px 12px 32px;
}

.decorative-list-item {
    line-height: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.header-input {
    border-radius: 5px;
    padding: 8px 4px;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #848484;
    outline: transparent;
    background-color: #f5b26a;
    margin-right: 8px;
    width: 216px;
}

.header-input::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    opacity: 0.6;
}

#selectTypeOfProduct {
    font-size: 16px;
    border-radius: 5px;
    outline: transparent;
    height: 39px;
    background-color: #f5b26a;
    width: 180px;
    padding: 8px;
    appearance: none;
    border: 1px solid #848484;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    margin-right: 4px;
}

#selectTypeOfProduct>option {
    color: #131313;
}

.btn-sub {
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-style: normal;
    color: #ccc;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #f44336;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0.2, 0, 0.1);
}

.btn-sub:hover,
.btn-sub:focus {
    background-color: #d32f2f;
}



@media screen and (min-width:768px) {
    .header {
        flex-direction: row;
    }

    .input-container {
        flex-direction: row;
        align-items: center;
    }

    .header-input::placeholder {
        font-size: 14px;
        line-height: 16px;
    }

}


@media screen and (min-width:1180px) {
    .header {
        gap: 150px;
    }
}